* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.TextDecorationDown::after {
  content: "";
  width: 100%;
  margin-top: 3.5px;
  height: 1px;
  background-color: black;
  display: block;
  position: relative;
}

/* Left Bar */

.TitleBarUl {
  display: inline-block;
  list-style: none;
  color: rgba(0, 0, 0, 0.58);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 16px 0px;
}

.TitleBar h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.17px;
  max-width:fit-content;
}

.TitleBarLi {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  font-weight: 600;
  display: block;
  width: 160px;
}

/* Rigth Menu Bar */

.RigthMenuContainer {
  padding-left: calc(400px - 150px - 131px);
  padding-right: 18%;
  flex: 1 1 0;
  padding-top: 4rem;
}

.MenuTextH1{
  font-size: 2.8rem;
  line-height: 1.385;
  padding-bottom: 4.8rem;
}

.MenuTextH2 {
  font-size: 2.4rem;
}